/*Tabs*/

.customTabs .customTabs_item{
    padding: 0px 5px !important;
    min-width: 0px !important;
    margin-right: 20px !important;
    text-transform: inherit im !important;
    font-size: 14px !important;
    font-weight: 400 i !important;
    outline-width: 0px im !important;
}
.customTabs .active{
    color: var(--main-color) !important
}
/*Cards*/

.customCard {
    height: 100%;
    max-width: 350;
    box-shadow: 0px 0px 48px 0px rgba(4,6,4, 0.08) !important;
    border-radius: 5px;
    overflow: hidden;
    outline-width: 0px !important;
}

.customCard .customCard_image{
    height: 120px;
}

.customCard .customCard_title{
    font-weight: 500;
}
.customCard .customCard_caption{
    color: darkslategray !important;
}

/*Dialog*/
.projectDialog .projectDialog_image {
    
    object-fit: cover;
    object-position: center center;
}
.projectDialog .projectDialog_description {
    margin-top: 10px !important;
}
.projectDialog .projectDialog_actions{
    justify-content: center !important;
    margin-bottom: 10px;
}
.projectDialog .projectDialog_icon {
    color: darkslategray;
    margin: 0px 12px;
    cursor: pointer;
}

.projectDialog .projectDialog_icon :hover{
    color: var(--main-color);
}
.projectDialog .projectDialog_icon > .MuiSvgIcon-root{
    font-size: 30px i !important;
}